section.about {
  margin-top: 130px;

  .about-header,
  .tel {
    color: #00a1eb;
    font-size: 34px;
    font-family: "Montserrat";
    font-weight: bold;
  }

  .underline,
  .about-descr {
    color: black;
  }

  .about-descr {
    font-size: 14px;
    font-family: "Hind";
    color: rgb(115, 115, 115);
  }

  .tel {
    font-size: 22px;
    font-family: "Montserrat";
    color: #00a1eb;
    font-weight: bold;
  }

  .about-img {
    max-width: 100%;
    height: auto;
  }
}